<link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
<script src="components/jquery/dist/jquery.min.js"></script>
<script src="components/dropzone/dist/min/dropzone.min.js"></script>
<script src="components/filesaver/filesaver.min.js"></script>


<script src="components/cryptojslib/components/core-min.js"></script>
<script src="components/cryptojslib/rollups/aes.js"></script>
<script src="js/main.js"></script>
</body>
</html>