<% include header %>

<h1>TRNSFR</h1>
<h2>Transport files between you and people securely</h2>


<p class="stepOne">
    <strong>Step 1:</strong><br/>
    share the a link with people you want to give the file
</p>

<code>http://localhost:3000/2145243578967653ffdhw4w3qedcw</code>


<p class="stepTwo">
    <strong>Step 2:</strong><br/>
    negotiate a session password
    <br/>
    <input type="password" placeholder="Session password">
    <button>Go</button>
    <br/><br/>
</p>


<p class="stepThree">
    <strong>Step 3:</strong><br/>

<div id="sendView">
    Drop a file for encryption and transport here.
    <form id="myDrz" action="/trnsprt" class="dropzone">
        <div class="fallback">
            <input name="file" type="file"/>
        </div>
    </form>

    <br>
    <br>
    <br>
    <br>
    <div id="preview">
        Waiting for files
    </div>

</div>


</p>

<% include footer %>